.pageWrapper {width:302px;margin:0 auto;padding:20px 0;}

.boxWrapper {float:left;clear:both;width:300px;height:240px;border:1px solid #ffffff;}
.boxWrapper.auto {height:auto;min-height:20px;}
#example,#hiddenImg {float:left;clear:both;width:300px;height:240px;}
#hiddenImg {display:none;}
#qrContent {float:left;clear:both;width:300px;height:auto;}
#qrContent p {font-size:100%;padding:20px;word-break:break-all;word-wrap:break-word;}

.photobooth ul,.resizehandle {display:none;}

.button {float:left;clear:both;text-align:center;width:300px;height:30px;padding:20px 0;}
#button,#button2 {display:inline-block;min-width:100px;text-align:center;height:20px;line-height:20px;
background:#ffffff;color:#000000;padding:5px 10px;}
#button2 {display:none;}

#example video {max-width:300px;height:auto;float:left;}
.pageWrapper.cheese #example {height:auto;min-height:100px;}

#qrContent p {color:#000000;}
#qrContent p a {color:#000000;text-decoration:underline;}