table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	border: 3px solid black;
}

/*letra*/
th, td {
	padding: 20px;
}

html {
	font-family: 'Times New Roman ', Times, serif;
}

thead th {
	font-family: 'Arial', cursive;
}

th {
	letter-spacing: 2px;
	text-align: center;
	background-color: #99CC66;
}

td {
	letter-spacing: 1px;
}

tbody tr {
	text-align: left;	
}

.verde {
		background-color: #e3fae3;
	
}

.blanco {
		background-color: white;
	
}



